<div class="flex">
    <div class="sm:w-full md:flex-initial md:w-2/3">
        <h1>Welcome to your report</h1>
        <p>Looking back at what you’ve done is a good way of seeing how you might move forward.</p>
        <p>Each role you entered will have required you to use many different skills. This report is a guide to which of these skills were most important throughout your work and volunteering history.</p>
    </div>
    <div class="sm:hidden md:flex md:w-1/3"> 
        <img src="../../assets/header.svg" alt="Welcome to your report">
    </div>
</div>