 <div class="flex bg-dark-bg">
    <div class="w-full md:flex-initial md:w-2/3">
      <h1 class="text-xxl text-brand-primary font-bold mb-6">
        Welcome to your report
      </h1>
      <p class="text-[22px] text-brand-primary mb-6">
        Looking back at what you’ve done is a good way of seeing how you might
        move forward.
      </p>
      <p class="text-[22px] text-brand-primary mb-6">
        Each role you entered will have required you to use many different
        skills. This report is a guide to which of these skills were most
        important throughout your work and volunteering history.
      </p>
    </div>
    <div class="hidden md:flex md:w-1/3">
      <img src="../../assets/header.svg" alt="Welcome to your report" />
    </div>
 </div>

