<app-container>
  <h2 class="text-xl text-brand-primary font-bold pt-8 mb-4 text-center">
    How you can use this report
  </h2>
  <p class="text-[22px] text-brand-primary mb-4 text-center">
    The information in your report can be used in several ways. Your next steps
    depend on what you’d like to achieve.
  </p>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 md:gap-4 pb-8">
    <div class="bg-brand-primary p-8 rounded-t-md">
      <h3 class="text-md text-white font-bold mb-4">
        Discuss my skills with ease
      </h3>
      <p class="text-white mb-4 text-base">
        When filling out your CV or application, draw from all 4 sections of the
        report to give employers a rounded picture of your abilities.
      </p>
      <p class="text-white mb-4 text-base">
        For advice on writing applications and CVs with your report, visit our
        dedicated section.
      </p>
      <a class="text-white m-0 p-0 text-base self-end" href="/"
        >Visit Applications and CV Advice</a
      >
    </div>
    <div class="bg-brand-secondary p-8 rounded-t-md">
      <h3 class="text-md text-white font-bold mb-4">
        Build on my skills through learning or training
      </h3>
      <p class="text-white mb-4 text-base">
        You may have found your previous roles used lots of skills from one
        area. But by balancing all areas of your skillset, more jobs may be
        available to you.
      </p>
      <p class="text-white mb-4 text-base">
        We have many funded learning options to help you gather new skills.
        Choose from flexible opportunities that work around your other
        responsibilities.
      </p>
      <a class="text-white m-0 p-0 text-base self-end" href="/"
        >Visit Learn and Train</a
      >
    </div>
  </div>
</app-container>
