<app-container>
  <h2>How you can use this report</h2>
  <p>
    The information in your report can be used in several ways. Your next steps
    depend on what you’d like to achieve.
  </p>
  <div class="flex w-full">
    <div class="w-full md:w-1/2">
      <h3>Discuss my skills with ease</h3>
      <p>
        When filling out your CV or application, draw from all 4 sections of the
        report to give employers a rounded picture of your abilities.
      </p>
      <p>
        For advice on writing applications and CVs with your report, visit our
        dedicated section.
      </p>
      <a href="/">Visit Applications and CV Advice</a>
    </div>
    <div class="w-full md:w-1/2">
      <h3>Build on my skills through learning or training</h3>
      <p>
        You may have found your previous roles used lots of skills from one
        area. But by balancing all areas of your skillset, more jobs may be
        available to you.
      </p>
      <p>
        We have many funded learning options to help you gather new skills.
        Choose from flexible opportunities that work around your other
        responsibilities.
      </p>
      <a href="/">Visit Learn and Train</a>
    </div>
  </div>
</app-container>
