<h3 class="text-md text-white font-bold mb-4">
  What are 'social intelligence' skills?
</h3>
<p class="text-white mb-4 text-base">
  'Social intelligence' is sometimes referred to as 'common sense'.
</p>
<p class="text-white mb-4 text-base">
  The skills in this section relate to how well you know yourself and others
  around you.
</p>
<p class="text-white mb-4 text-base">
  They measure your ability to understand and act upon the feelings, thoughts
  and behaviours of other people.
</p>
<img class="mb-4" src="../../assets/header.svg" alt="Welcome to your report" />
