<app-container>
  <app-header></app-header>
  <app-tabs></app-tabs>
  <div class="w-full bg-brand-primary p-4 rounded-b-lg mb-11">
    <app-button-list></app-button-list>
    <div class="flex">
      <div class="w-full md:w-1/2">
        <app-simple-text></app-simple-text>
      </div>
      <div class="w-full md:w-1/2">
        <app-info-list></app-info-list>
      </div>
    </div>
  </div>
</app-container>

<div class="bg-white">
  <app-card></app-card>
</div>

<app-container>
  <app-info-panel></app-info-panel>
</app-container>
